$yellow: #FBAF28;
$pale-red: #F85A2B;
$white: #FFFFFF;
$light-grey: #E3E4E6;
$dark-grey: #BBBBBB;
$strong-grey: #ADAFAE;
$orange: #F1872C;

$legend-1: #FFBC2D;
$legend-2: #335675;
$legend-3: #803236;
$legend-4: #768658;
$legend-5: #4C427D;
$legend-6: #0088AF;
$legend-7: #178966;
$legend-8: #62345A;
$legend-9: #A6A8AC;
$legend-10: #597B80;

