
button {
    border: none;
}

.main-btn {
    background-color: $pale-red;
    color: $white;
    height: 95px;
    width: 130px;
    font-weight: bold;
}

.secondary-btn {
    background-color: $orange;
    color: $white;
    padding: 6px 10px;
    min-width: 110px;
    height: 40px;
}
                        
.legend-1 {
    background-color: $legend-1;
}

.legend-2 {
    background-color: $legend-2;
}

.legend-3 {
    background-color: $legend-3;
}

.legend-4 {
    background-color: $legend-4;
}

.legend-5 {
    background-color: $legend-5;
}

.legend-6 {
    background-color: $legend-6;
}

.legend-7 {
    background-color: $legend-7;
}

.legend-8 {
    background-color: $legend-8;
}

.legend-9 {
    background-color: $legend-9;
}

.legend-10 {
    background-color: $legend-10;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}
