.header {
    background-color: $yellow;
    padding: 14px;

    .header-btn {
        display: flex;

        .main-btn {
            &:first-child {
                margin-right: 10px;
            }
        }
    }
}